<!DOCTYPE html>
<html lang="en">
<head>
	<title>AngularJs Training</title>
	<meta http-equiv="Content-Type" charset='UTF-8'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="js/angular.js" type="text/javascript"></script>
	<script src="js/app.js" type='text/javascript'></script>

	<link rel="stylesheet" href="css/app.css"/>
</head>
  <body>
   <div class="container" data-ng-app="yourApp">
	    <div data-ng-controller="yourController">
	        <h1>Custom Services</h1>
	        Filter by Name:
	        <input type="text" data-ng-model="nameText" />
	        <br />
	        <ul>
	            <li data-ng-repeat="user in users | filter:nameText | orderBy:['id','name']">{{ user.name }} - {{ user.email }}</li>
	        </ul>
	    </div>
	</div>
	
	<script>
		var app = angular.module("yourApp", []);
		
		app.controller('yourController', function($scope, UserService, $log) {
	        $scope.users = [];
	
	        $scope.getUsers = function(){
	        	UserService.getUsers().then(
        				//Success callback
        				function(response) {
        			 		$scope.users = response.data;
        		  		}, 
        		  		//Error callback
        		  		function(error) {
        		    		$log.debug(error)
        		  		}
        		 );
	        }
	        
	        $scope.getUsers();
	    });
		
		//Factory method
		app.factory("UserFactory", function($http){
			 var userService = {};

			 //Promise
			 userService.getUsers = function(){
				 //returns a promise
				 return $http({
	        		  method: 'GET',
	        		  url: 'http://jsonplaceholder.typicode.com/users'
	        		});
			 }
			 
			 //return instance
			 return userService;
		});
		
		//Service method
		app.service("UserService", function($http){
			 
			 this.getUsers = function(){
				 //returns a promise
				 return $http({
	        		  method: 'GET',
	        		  url: 'http://jsonplaceholder.typicode.com/users'
	        		});
			 }
		});
	</script>

  </body>
</html>